/***
* TABLET STYLES
**/ 


@media screen and (min-width: 900px ) {
    header nav {
        display: block;
    }
    .overlay section.headline-container {

        width: 35%;
        height: 22%;
    }
    .headline-content h1 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 7%;
    }
    .shop-now {
        font-size: 1rem;
    }
}

/** DESKTOP STYLES **/
@media screen and (min-width: 1000px ) {
    header nav {
        display: block;
    }
    .overlay section.headline-container {
        width: 20%;
        height: 23%;
       
    }
    .headline-content h1 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 8%;
    }
    .shop-now {
        font-size: 1rem;
    }
}


/** PRODUCT SECTION MEDIA QUERIES**/
@media screen and (min-width: 960px) {
    section .feature-products {
        flex-direction: row;
    }
    .feature-products  div img {
        width: 50%;
        display: relative;
    }
}


/** BEST PRODUCT SECTION*/

@media screen and (min-width: 990px) {
    .best-products-container{
        flex-direction: row;
    }
    .best-product-item {
        border: 1px solid black;
           display: flex;
           justify-content: center;
           flex-direction: row;
           text-align: center;
           margin: 20px;
           width: 400px;
       }
    
}

@media screen and (min-width: 960px) {
    .recent-news-item img {
        width: 400px;
    }
}