/** PRODUCT FEATURE CSS*/
div a {
    text-decoration-line: underline;
}
.feature-product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.feature-product-item {
    position: relative;
    margin: 10px 10px;
    width: 350px;
    height: 178px;
}
.feature-text {
    position: absolute;
    top: 40px;
    left: 26px;
}

.feature-products  div img {
    width: 100%;
}
.feature-products  div feature-text {
    display: absolute;
   top: 50%;
   left: 50%;
}

.feature-text h2 {
font-family: 'Poppins', sans-serif;
font-size: 20px;
line-height: 25px;
font-weight: 300;
text-align: center;
}
.feature-shop-now a{
    font-family: 'Dosis', sans-serif;
}
.feature-text div.feature-shop-now {
    margin-top: 10px !important;
}
/**BEST PRODUCTS*/
.best-products-section h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 25px;
    color: #000000;
    margin: 15px 0;
}
.best-products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;  
}

.best-product-item img {
    width: 100%;
}
.product-overlay {  
    position: absolute;
    z-index: 2;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center; 
  top: 0; left: 0;
}
.best-product-item {
    position: relative;
    text-align: center;
    margin: 10px 0;
    width: 350px;
    height: 350px;
}
.best-product-desc {
 position: absolute;
 top: 135px;
 left: 109px;
 color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 141px;
}
.best-product-desc p, span {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    font-style: normal;   
}
.best-product-desc p:last-child {
    margin-top: 10px;
}
/***RECENT NEWS SESSION**/
.recent-news-section div h3 {
text-align: center;
margin: 20px 0;
font-family: 'Poppins', sans-serif ;
font-size: 30px;
font-weight: 300;
line-height: 25px;
color: #000000;
}
.recent-news-img {
width: 100%;

}
.recent-news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;  
}

.recent-news-item img {
    width: 100%;
    max-width: fit-content;
}
.recent-news-item{
 position: relative;
    text-align: left;
    margin: 10px 0;
    width: 350px;
    height: 350px;
}

.recent-news-date {
    background-color: rgb(243, 242, 241);
    width: 60px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.recent-news-header {
position: absolute;
top: 200px;
left: 10px;
font-size: 14px;
width: 296px;
}
 .recent-news-header p {
    font-size: 14px;
    line-height: 21px;
font-weight: 400;
font-family: 'Poppins', sans-serif;
 }

.recent-news-item .recent-news-header a {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    margin-top: 40px;
    font-size: 16px;
 }

 /**FOOTER STYLES*/
 footer {
    background-color: #EFEFEF;
    width: 100vw;
    padding: 20px 12px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 480px;
 }
 
footer .address {
    height: 120px;
}
 .address div * {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
 }

 .address div {
    display: flex;
    width: 260px;
    margin: 15px;
 }
 .address div p {
    margin-left: 10px;
 }
 .footer-news-letter-sub > p {
    width: 320px;
    height: 54px;
    margin: 5px 0;
 }

 #email {
    border: none;
 }
 .footer-news-letter-sub  {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
position: relative;
 }
 .newsletter-input {
    display: flex;
    width: 100%;
    border: 0.4px solid #00000061;
    position: absolute;
    left: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
 }
 .newsletter-input input {
    width: 91%;
    padding: 10px;
 }

 /**VERTICAL LINE AND COPY RIGHT*/
 footer .trade-mark {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20px;
    margin-top: 60px;
 .horizontal-line {
    width: 100%;
    height: 0px;
    background-color: #00000061;
    left: 12px;
    top: 450px;
    margin-top: 30px;
 }

 .created::before {
    content: "\00A9";
    font-size: 12px;
    color: #999;
  }

  .trade-mark > div {
    margin-top: 10px;
  }