/** PRODUCT FEATURE CSS*/
div a {
    text-decoration-line: underline;
}
.feature-product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.feature-product-item {
    position: relative;
    margin: 10px 10px;
    width: 350px;
    height: 178px;
}
.feature-text {
    position: absolute;
    top: 40px;
    left: 26px;
}

.feature-products  div img {
    width: 100%;
}
.feature-products  div feature-text {
    display: absolute;
   top: 50%;
   left: 50%;
}

.feature-text h2 {
font-family: 'Poppins', sans-serif;
font-size: 20px;
line-height: 25px;
font-weight: 300;
text-align: center;
}
.feature-shop-now a{
    font-family: 'Dosis', sans-serif;
}
.feature-text div.feature-shop-now {
    margin-top: 10px !important;
}
/**BEST PRODUCTS*/
.best-products-section h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 25px;
    color: #000000;
    margin: 15px 0;
}
.best-products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.best-products-container div img {
    width: 100%;
}

.product-overlay {
    z-index: 999;  
    background: rgba(0,0,0,0.5);
    height: 350px;
}
.best-product-item {
    position: relative;
    text-align: center;
    margin: 10px;
    width: 350px;
    
}
.best-product-item div {
 position: absolute;
 top: 135px;
 left: 109px;
}
.best-product-desc {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.best-product-desc p, span {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    
}
.best-product-desc p:last-child {
    margin-top: 10px;
}
/***RECENT NEWS SESSION**/
.recent-news-img {
width: 100%;

}
.recent-news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.recent-news-item img {
    width: 100%;
    max-width: fit-content;
}
.recent-news-item{
  position: relative;
  margin: 40px
}

.recent-news-date {
    background-color: rgb(243, 242, 241);
    width: 60px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.recent-news-header {
position: absolute;
top: 70%;
left: 20px;
font-size: 1rem;
font-family: 'Poppins', sans-serif;
}
